$color_bg: #fafafa;
$color_dark: #000;
$header_font_family: 'Ubuntu', serif;
$body_font_family: 'Ubuntu', serif;

@import "../../../node_modules/highlight.js/styles/monokai-sublime";
@import "../../core/scss/treeflex.scss";

@import "defaults.scss";
@import "sections.scss";
@import "elements.scss";
